.blue .dd-wrapper {background: t; top:25%; color: white; font-size: 1.25vw; font-weight: bold; font-family: Arial, sans-serif; height: 60%;}
.blue .dd-menu { background:rgba(0,0,0,0.01);}
.blue .dd-menu a {background:rgba(0,0,0,0.01); height: 50%; text-decoration: none; padding: 3% 3% 3% 5%; display: block; color: white; }
.blue .dd-menu ul a {background:rgba(0,0,0,0.01); height: 60%;}
.blue .dd-menu a:hover {background: rgba(255,255,255,.5); color: black;}
.blue .dd-menu li.dd-parent a:hover {color: black;}
.blue .dd-menu li.dd-parent a.active .dd-icon {}
.blue .dd-menu li.dd-parent a.active {color: #ccc; background: black }
.blue .dd-header ul { width: 100%; overflow: scroll; line-height: 0; padding: 2% 4%;}
.blue .dd-header li a { text-decoration: none; float: left; display: block; padding: 1% 5% 1% 2%; color: #fff; overflow: scroll;}
.blue .dd-header li a:hover { color: white; text-decoration: underline; overflow: scroll;}
.blue .dd-header a.link-back {text-decoration: none; display: block; position:absolute;left: 0; top:-35%; color: black;}
.blue .dd-header a.link-back:hover {top:-35%; text-decoration: none; color:white; overflow: scroll;}

