#carousel {
    position: fixed;
    top: 85%;
    height: 15%;
    width: 100%;
}

.citem {
    float: left;
}

.Thumbimage { 
   position: relative; 
}

.Thumbcaption
{
  font-family:Arial, Helvetica, sans-serif;
  color:#FFF;
  text-align:center;
  font-size:12px;
  text-shadow: 1px 1px #000;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0%;
  width: 100%;
}
