#carousel {
    position: fixed;
    top: 85%;
    width:auto;
    margin-left: 30%;
    margin-right: auto;
	z-index:0;
}

/******************
* Change Carousel Image size
******************/
#carousel img{
    height: auto%;
    width: 55%;
}

.citem {
    float: left;
	
}

.Thumbimage { 
   position: relative;
   display:block;
   margin-left:-75px;

}

.Thumbcaption
{

  font:"Arial Black", Gadget, sans-serif 16px;
  letter-spacing: .5px;
  color:#FFF;
  text-align:center;
  font-size:10px;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0%;
  width: 55%;
  
  
  
}
