#carousel {
    position: fixed;
    top: 85%;
    width:auto;
    margin-left: 30%;
    margin-right: auto;
	z-index:0;
}

/******************
* Change Carousel Image size
******************/
#carousel img{
    height: 70%;
    width: 70%;
}

.citem {
    float: left;
	padding: -10%;
}

.Thumbimage { 
   position: relative;
   margin-left: -50px;
}

.Thumbcaption
{
  font:"Arial Black", Gadget, sans-serif 20px;
  letter-spacing: 1px;
  color:#FFF;
  text-align:center;
  float: left;
  font-size:10px;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0%;
  width: 70%;
  
  
  
}
