body.contextual_navigation
{
    background: #6F737A;
    margin: 0;
}


/**********************
* Drill Down Menu Styles
***********************/

.dd-wrapper ul, .dd-wrapper ul li, .dd-wrapper li, .dd-wrapper li ul, .dd-wrapper li ul li {
  margin: 0; padding: 0; list-style: none; top: 90%; color: black;
  }

.dd-wrapper .dd-menu {
  overflow: auto; position: absolute; width:84%;
  }
.dd-wrapper  .dd-menu ul {
  position: absolute; top: 0; right: 0;
  }
.first{
    color: black;
    text-decoration: none;
}
.fa-times{
    color: white;
}

/***********************
* Blue Menu CSS
************************/

.blue .dd-wrapper {
  font: bold;
  font-family: Helvetica;
  font-size: 1.25vw;
  }

.blue .dd-menu a {
  background:rgba(0,0,0,0.5); text-decoration: none; padding: 3% 3% 3% 5%; display: block; color: white;
  }

.blue .dd-menu ul a {
    background: rgba(0, 0, 0, 0.3);
    text-shadow: 2px 2px #000;
}
.blue .dd-menu a:hover {
  background: rgba(255,255,255,.5);
  }
.blue .dd-menu li.dd-parent a:hover {
  color: black; text-shadow: 0 0;
  }
.blue .dd-menu li.dd-parent a.active {
  color: #ccc; background: rgba(0,0,0,0.6);
  }

.menu{
    position: fixed;
    width: 20%;
    top: 5%;
    z-index: 0;
}

#main_image{
    position: fixed;
    height: 85%;
    max-height: 85%;
    width: 100%;
}

#map{
    position: fixed;
    width: 25%;
    height: 38%;
    right: 0;
    overflow: hidden;
    border: 1px solid black;
}

.mapImage{
    z-index: 5;
}

.to_athletics, .to_academics {
    bottom: 20%;
    left: 75%; 
}

.to_studentlife, .studentlife_to_athletics {
    bottom: 20%;
    left: 23%; 
}

.contextual_assets{
    position: fixed;
    width: 100%;
    height: 85%;
    max-height: 85%;
    max-width: 100%;
    z-index: -1;
    overflow: hidden;
}

.contextual_assets img {
    position: fixed;
    width: 100%;
    height: auto;
    max-height: 85%;
    overflow: hidden;
}


.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

section {
    position: fixed;
    opacity: 0;
    transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -khtml-transition: opacity 1s ease-out;
    -webkit-transition: opacity 1s ease-out;
    height: 0;
    overflow: hidden;
}

section:target, .show{
    opacity: 1;
    height: 90%;
    position: fixed;
}

.show {
    postion: fixed;
    left:45%;
    top: 50%;
	z-index:1000;
}


.arrow {
	position: fixed;
    z-index: 1;
    max-width: 6%;
    border: 0;
}

.hotspot {
    position: fixed;
	height: 85%;
    z-index: 1;
    max-width: 12%;
    border: 0;
}

.hotspot:hover {
    cursor: pointer;
}

.map_button{
    position: fixed;
    z-index: 1;
    right: 0;
    max-height: 7%;
    z-index: 10;
}

.map_button_initial{
    position: fixed;
    z-index: 1;
    right: -20%;
    top: 0;
    max-height: 7%;
    z-index: 10;
}

.visit_button{
    position: fixed;
    z-index: 1;
    right: 30%;
    top: -8%;
    max-height: 7%;
    z-index: 10;
}

.switch_button {
    position: fixed;
    z-index: 1;
    right: 1%;
    top: 63%;
    max-height: 7%;
    /*padding:7px 25px;*/
}

.restart_button {
    position: fixed;
    z-index: 1;
    right: 1%;
    top: 50%;
    max-height: 7%;
    /*padding-top: 7px; */
    /*padding-bottom: 7px; */
    /*padding-left: 35px; */
    /*padding-right: 35px; */

}
.hide_button {
    position: fixed;
    z-index: 10;
	right: 1%;
    top: 69%;
    max-height: 5%;

}
.athletic_button {
    position: fixed;
    z-index:2000;
	left: 30%;
    top: 64%;
    max-height: 5%;

}
.academic_button {
  position: fixed;
    z-index:2000;
	left: 30%;
    top: 57%;
    max-height: 5%;

}
.sl_button {
    position: fixed;
    z-index:2000;
	left: 30%;
    top: 50%;
    max-height: 5%;

}
.right_offcampus {
    bottom: 25%;
    left: 75%;
}

.left_offcampus {
    bottom: 25%;
    left: 25%;
}

.beginButton {
    position: relative;
    padding:7px 25px;
}
.beginButton, .switch_button, .hide_button, .restart_button, .map_button, .map_button_initial,  .visit_button, .athletic_button, .academic_button, .sl_button{
    margin-top: 5%;
    -moz-box-shadow: 3px 4px 0px 0px #8a2a21;
    -webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
    box-shadow: 3px 4px 0px 0px #8a2a21;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
    background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
    background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
    background-color:#c62d1f;
    -moz-border-radius:18px;
    -webkit-border-radius:18px;
    border-radius:18px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size: 2vw;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
}

.beginButton:hover, .switch_button:hover, .restart_button:hover, .map_button:hover, .map_button_initial, .visit_button:hover, .hide_button:hover, .athletic_button:hover, .academic_button:hover, .sl_button:hover{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
    background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
    background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
    background-color:#f24437;
}

.beginButton:active {
    position:relative;
    top:1px;
}

/*************************
comment out so the map doesn't auto scale
*************************/

/*@media screen and (max-width: 1024px){*/
    /*img { max-width: 100% }*/
/*}*/

.icon-clear {

}

.arrow:hover {
    cursor: pointer;
}

.tooltip {
    display:none;
    position:absolute;
    border:1px solid #333;
    background-color:#161616;
    border-radius:5px;
    padding:10px;
    color:#fff;
    font-size:12px Helvetica;
}

.caption_wrapper {
    width:25%;
    height:auto;
    left: 21%;
    overflow:hidden;
    position:fixed;
	top:0px;
}

.caption {
    height:auto;
    padding-bottom: 5px;
    width:100%;
    text-align:center;
    color:#FFF;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight:bold;
    position:relative;
    z-index:2;
}

#caption_title {
    font: bold 20px Arial,Verdana,sans-serif;
    letter-spacing: -1px;
    font-size: 2vw;
}

.description {
    font: 20px Arial,Verdana,sans-serif;
    letter-spacing: -1px;
    font-size: 1.25vw;
}

