/***********************
* Body Properties - This controls background color behind the pictures
************************/
body.contextual_navigation
{
    background:#666;
}

/***********************
* Menu CSS 
************************/
.dd-wrapper ul, .dd-wrapper ul li, .dd-wrapper li, .dd-wrapper li ul, .dd-wrapper li ul li {
  margin: 0; padding: 0; list-style: none; top: 90%; color: black;
  }

.dd-wrapper .dd-menu {
  overflow: auto; position: absolute; min-width:84%;
  }
.dd-wrapper  .dd-menu ul {
  position: absolute; top: 0; right: 0;
  }
.first{
    color: black;
    text-decoration: none;
}
.fa-times{
    color: white;
}

/***********************
* Blue Menu CSS
************************/

.blue .dd-wrapper {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 2vmin;
  
  }

.blue .dd-menu a {
  background:rgba(0,0,0,0.5);  padding: 3% 3% 3% 10%; display:block; color: white; width:12em;
  }

.blue .dd-menu ul a {
    background: rgba(0, 0, 0, 0.7);
    text-shadow: 1px 1px #000;
	
}
.blue .dd-menu a:hover {
  background: rgba(255,255,255,.5);
  }
.blue .dd-menu li.dd-parent a:hover {
  color: black; text-shadow: 0 0;
  }
.blue .dd-menu li.dd-parent a.active {
  color: #ccc; background: rgba(0,0,0,0.6);
  }

/******************************************
 * 
 * Menu Width/Position -  Only controls position and width on screen, to change icons use menu_lists
 * 
 *******************************************/
.menu{
    position: fixed;
    min-width: 22%; 
    top: 18%;
    z-index: 0;
}
/******************************************
 * 
 * Image Properties - Contextual assests img controls the background image 
 * 
 *******************************************/
.contextual_assets{
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 110%;
    max-width: 100%;
    z-index: -1;
    overflow: hidden;
	
}

.contextual_assets img {
    position: fixed;
	display:block;
    width: 100%;
    height: 100%;
    overflow: hidden;
	background: repeat center center fixed;
    object-fit: cover; /*This right here is the most important css ever. It makes it so the background image in responsive. */
	
}
/******************************************
 * 
 * Home Button - This is the logo in the upper left hand corner, !importants ensure that the img properties from contextual_assets are not inheritied 
 * 
 *******************************************/
.homeButton{
	top: 2px;
	left: 20px;
	width: 11.8% !important;
	height: auto !important; 
	
}

/******************************************
 * 
 * Tipsy - Controls the hover on buttons and arrows
 * 
 *******************************************/
.tipsy { padding: 0px; font-size: 16px; font:"Arial Black", Gadget, sans-serif; position: absolute; z-index: 100000; }
  .tipsy-inner { padding: 0px 8px 4px 8px; background-color: black; color: white; max-width: 400px; text-align: center; }
  .tipsy-inner { border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
  #gravity { width: 100%; margin: 5px 0; border-spacing: 5px; }
  #gravity td { text-align: center; vertical-align: middle; padding: 5px 0; background-color: #d0d0d0; width: 33%; }
  #gravity a { }
    #gravity a:hover { color: #505050; background: none; }
	

/******************************************
 * 
 * Tour Buttons - Appear on the first page only, Switch Button (Off Campus BUtton), Athletics Button, Academics Button, SL Button (Student Life Button)
 * 
 *******************************************/

.switch_button  {
    position: fixed;
    z-index:2000;
	right: 34.6%;
    top: 30%;

}
.athletics_button {
    position: fixed;
    z-index:2000;
	top: 20%;
    right: 34.6%; 


}
.academics_button {
   position: fixed;
    z-index:2000;
	left: 33%;
    top: 20%;
	
}
.sl_button {
    position: fixed;
    z-index:2000;
	left: 33%;
    top: 30%;
	border:1px solid gray;
  
  
}

.athletics_button, .academics_button, .sl_button, .switch_button  {
	position: fixed;
	max-height: 8.5%;
	min-height: 35px;
	display: inline-block;
    width: inherit;
    height: 100%;
	overflow: hidden;
	word-wrap:normal;
	text-align:center;
	background-color: rgba(167,25,48,.90);
	border:1px solid #000;
    color:#FFF;
    letter-spacing: .8px;
    font-size: 1.7vw;
	text-shadow: 1px 1px #000;
	width:9.5em;
}
.athletics_button:hover, .academics_button:hover, .sl_button:hover, .switch_button:hover{
	max-height: 8.5%;
	display: inline-block;
    box-shadow: inset 0 0 0 1.5px #000;
    width: inherit;
    height: 100%;
	overflow: hidden;
	word-wrap:normal;
	text-align:center;
	background-color: rgba(167,25,48,.90);
    color:#FFF;
    letter-spacing: .8px;
    font-size: 1.7vw;
	text-shadow: 1px 1px #000;
	width:9.5em;
    

	
}

/*************************
* Class changes the styling
* of the main_image when you click
* hide carousel
*************************/

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

section {
    position: fixed;
    opacity: 0;
    transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -khtml-transition: opacity 1s ease-out;
    -webkit-transition: opacity 1s ease-out;
    height: 0;
    overflow: hidden;
}

section:target, .show{
    opacity: 1;
    height: 90%;
    position: fixed;
}

.show {
    postion: fixed;
    left:45%;
    top: 50%;
	z-index:1000;
}


.arrow  {
	position: fixed;
    z-index: 1;
    max-width: 12%;
	min-width:3.5%;
    border: 0;
	
}




.hotspot {
    position: fixed;
	height: auto;
    z-index: 1;
    max-width: 12%;
    border: 0;
}

.hotspot:hover {
    cursor: pointer;
}

.visit_button{
    position: fixed;
    right: 30%;
    max-height: 7%;
    z-index: 10;
}


.beginButton {
    position: relative;
    padding:7px 25px;
}
/*******************
* Show Hide Carousel
*******************/
.hide_button{
    position: fixed;
    z-index: 3000;
    right: -6%;
    bottom: 11%;
    -webkit-transform: rotate(90deg); /* Safari and Chrome */
    -moz-transform: rotate(90deg);   /* Firefox */
    -ms-transform: rotate(90deg);   /* IE 9 */
    -o-transform: rotate(90deg);   /* Opera */
    transform: rotate(90deg);
	-webkit-transform-origin: left top 0; /* Safari and Chrome */
    transform-origin: left top 0;
    width:auto;
    height: 5%;
	min-width:8%;
	margin-top: 5%;
	background-color: rgba(0,0,0,.60);
	border:1px solid rgba(167,25,48,1);
    text-decoration:none;
    color:#FFF;
    font:"Arial Black", Gadget, sans-serif 16px;
    letter-spacing: 1px;
    font-size: 1.7vw;
}
.hide_button:hover{
	margin-top: 5%;
	background-color: rgba(0,0,0,.60);
	box-shadow: inset 0 0 0 1.5px rgba(167,25,48,1);
    display:inline-block;
    cursor:pointer;
}


/*******************
Schedule A Visit Button, Contact Button, Restart Button - These are on every page 
*******************/
.schedule_button {
    position: absolute;
    z-index: 1;
    right: 1%;
    top:37.5%;
    max-height: 7%;
	width:12em;
}


.contact_button {
    position:absolute;
	padding-right: 10px;
    z-index: 1;
    right: 1%;
    top:30%;
    max-height: 7%;
	width:12em;
}

.restart_button {
    position:absolute;
    z-index: 1;
    right: 1%;
    top: 45.5%;
    max-height: 7%;
	width:12em;
	
}

/******************************************
 * 
 * Map sizing and Button controls
 * 
 *******************************************/
 #map{
    position: fixed;
    width: 20%;
    height: 33%;
    right: 0;
    overflow: hidden;
    border: 1px solid black;
}

.mapImage{
    z-index: 5;
	
}

/******************************************
 * 
 * Other Buttons
 * 
 *******************************************/	
.collapse{right: 70% !important;
			z-index: 100000000;}
.show{right: 0% !important ;
		z-index: 100000000;}
.enlarge{right: 10% !important;
			z-index: 100000000;} 
	
.map_button{
	position: fixed;
    max-height: 7%;
    z-index: 10;
	right: 10%;
    transform-origin: left top 0;
	-webkit-transform: rotate(90deg); /* Safari and Chrome */
    -moz-transform: rotate(90deg);   /* Firefox */
    -ms-transform: rotate(90deg);   /* IE 9 */
    -o-transform: rotate(90deg);   /* Opera */
    transform: rotate(90deg);
	margin-top: 0%;
	background-color: rgba(0,0,0,.60);
	border:1px solid rgba(167,25,48,1);
    display:block;
    color:#FFF;
    font:"Arial Black", Gadget, sans-serif 16px;
    letter-spacing: 1px;
    font-size: 1.6vw;
}
.map_button:hover{
	margin-top: 0%;
	background-color: rgba(0,0,0,.60);
	box-shadow: inset 0 0 0 1.5px rgba(167,25,48,1);
    display:block;
    cursor:pointer;
    text-decoration:none;
    color:#FFF;
    font:"Arial Black", Gadget, sans-serif 16px;
    letter-spacing: 1px;
    font-size: 1.6vw;
}



.beginButton, .restart_button, .schedule_button, .contact_button {
	margin-top: 2%;
	background-color: rgba(0,0,0,.60);
	border:1px solid rgba(167,25,48,1);
    display:block;
    cursor:pointer;
    text-decoration:none;
    color:#FFF;
    font:"Arial Black", Gadget, sans-serif 16px;
    letter-spacing: 1px;
    font-size: 1.6vw;
	overflow: hidden;
    white-space: nowrap;
	
	

}
.beginButton:hover, .restart_button:hover, .schedule_button:hover, .contact_button:hover{
	margin-top: 2%;
	background-color: rgba(0,0,0,.60);
	box-shadow: inset 0 0 0 1.5px rgba(167,25,48,1);
    display:block;
    cursor:pointer;
    text-decoration:none;
    color:#FFF;
    font:"Arial Black", Gadget, sans-serif 16px;
    letter-spacing: 1px;
    font-size: 1.6vw;
	overflow: hidden;
    white-space: nowrap;
		
}


.beginButton:active {
    position:relative;
    top:1px;
}

/*************************
comment out so the map doesn't auto scale
*************************/
.caption_wrapper {
    width:33.33%;
    height:auto;
    left: 20%;
    overflow:hidden;
    position:fixed;
	top:0;
}

.caption {
	font:Arial, Helvetica, sans-serif;
    height:auto;
    padding-bottom: 5px;
    width:100%;
    text-align:center;
    color:#FFF;
    background-color: rgba(0, 0, 0, 0.65);
    position:relative;
    z-index:2;
}

#caption_title {
   font:Arial, Helvetica, sans-serif;
    letter-spacing: .75px;
    font-size: 1.8vw;
	
	
}

.description {
    font:"Arial Black", Gadget, sans-serif;
    letter-spacing: 1px;
    font-size: 1.2vw;
}
/******************************************
 * 
 * Carousel Properties 
 * 
 *******************************************/	
#carousel {
    position:absolute;
    top: 90%;
    width:auto;
	height:auto;
	z-index:0;
	display:block;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); }
	
/******************
* Change Carousel Image size
******************/
#carousel img{
    height: auto;
    width: 75%;
	border: 0px none;
		
}

.citem {
	position: relative;
	float:left;
	display: block;
	margin: 0px;
	
	
}

.Thumbimage { 
   position: relative;
   display:block;
    margin-left:-50px;

}

.Thumbcaption
{
  font:"Arial Black", Gadget, sans-serif 16px;
  letter-spacing: .5px;
  color:#FFF;
  text-align:center;
  font-size:16px;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0%;
  width: 75%;
  
}
