@media handheld {

/* iPhone-specific styles */
@media only screen and (max-device-width: 480px) { 

	html {
		-webkit-text-size-adjust: none;
		}

}
 @media screen and (orientation:portrait) {
   .restart_button, .schedule_button, .contact_button {
	   top: 0% !important;
	   right: 5% !important;
	   
}
.dd-wrapper .dd-menu {
  overflow: auto; position: absolute; min-width:400px !important;
  
  }
 }
 @media screen and (orientation:landscape) {
.restart_button, .schedule_button, .contact_button { right: 5% !important; } 
.switch_button  { position: fixed; z-index:2000; right: 34.6%; bottom: 40%; }
.athletics_button { position: fixed; z-index:2000; top: 20%; right: 34.6%; }
.academics_button { position: fixed; z-index:2000; left: 33%; top: 20%;	}
.sl_button { position: fixed; z-index:2000; left: 33%; bottom: 40%; border:1px solid gray;}



 }
}
