@media screen 
 and (min-device-width: 320px)  
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape)  {
  .homeButton { 
	width: 20% !important;
	height: auto !important; 
	left: 0px;
  }
  
  .caption_wrapper {
    width:80% !important;
    height:auto;
}

 #caption_title {
   font:Arial, Helvetica, sans-serif;
   letter-spacing: .75px;
   font-size: 20px;	
}

.description {
    font:"Arial Black", Gadget, sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
}
.schedule_button {
    position: fixed;
    z-index: 1;
    right: 1%;
    top:69%;
	width:10em;
	
}
.contact_button {
    position:fixed;
	padding-right: 10px;
    z-index: 1;
    right: 1%;
    top:77.5%;
	width:10em;

}
.restart_button {
    position:fixed;
    z-index: 1;
    right: 1%;
    top: 85%;
	width:10em;
	
}
.restart_button, .schedule_button, .contact_button {
    letter-spacing: 1px;
    font-size: 16px;
	overflow:hidden;
	word-wrap:normal;
    white-space: nowrap;
	left: 4%;
	padding-right:10px;

}
.restart_button:hover, .schedule_button:hover, .contact_button:hover{
	box-shadow: inset 0 0 0 1.5px rgba(167,25,48,1);
    letter-spacing: 1px;
    font-size: 16px;
	word-wrap:normal;
    white-space: nowrap;
}
.hide_button{display: none !important;}
.menu{display: none !important;}
#map{display: none !important;}
.map_button{display: none !important;}
.switch_button  {
    position: fixed;
    z-index:2000;
	left: 20%;
    top: 50%;
}
.athletics_button {
    position: fixed;
    z-index:2000;
    right: 20%; 
	top: 50%;
}
.academics_button {
   position: fixed;
    z-index:2000;
	right: 20%;
    top: 30%;
}
.sl_button {
    position: fixed;
    z-index:2000;
	left: 20%;
    top: 30%;
  
}

.athletics_button, .academics_button, .sl_button, .switch_button  {
	overflow: hidden;
	word-wrap:normal;
    letter-spacing: .8px;
    font-size: 20px;
	width:8em;
}

.athletics_button:hover, .academics_button:hover, .sl_button:hover, .switch_button:hover{
    box-shadow: inset 0 0 0 1.5px #000;
    font-size: 20px;
	width:8em;
    

	
}

 }
